extends layout

block content
  h1(id="title")= title

  if (toShow == null)
    h2 No instance to update
  else
  - let UniversityId = toShow._id
  - let University_name = toShow.University_name
  - let City = toShow.City
  - let Students = toShow.Students
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{UniversityId}
  - let actionid = "/resource/University/" + UniversityId
  form(id='universityForm', action= actionid, method="PUT")
    div.form-group
        label.uniAttr(for='University_name') University_name
        input#UniversityNname(type='text', name='University_name', value= University_name )
    div.form-group
        label.uniAttr(for='size') Size
        input#City(type='text', name='City', value= City )
    div.form-group
        label.uniAttr(for='cost') Cost
        input#Students(type='number', name='Students', value= Students )
    input(type="submit")
  script.
    document.forms['universityForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });